/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 35%;
  padding-left: 25%;/* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#form-modal {
  display: none; /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 25%;
  padding-left: 25%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.main-header {
  display: inline;
  background-color: rgb(52, 70, 109);
  height: 9em;
  margin: 0px;
  padding: 8px;
}

.main-header h1 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 7px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 15px;
}

.main-header li  {
    display: inline;
    padding: 8px; 
}

/* nav links styling */
.linkstyle {
  background-color: rgb(21, 30, 54);
  border: solid 1px;
  border-radius: 10%;
  border-width: 3px;
  border-style: outset;
  width: fit-content;  
  margin-left: 44%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.linkstyle:hover {
  background-color: rgb(28, 56, 122);
}

.linkstyle2 {
  background-color: rgb(21, 33, 67);
  border: solid 1px;
  border-radius: 10%;
  border-width: 3px;
  border-style: outset;
  width: fit-content;  
  margin: 1%;
  margin-top: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
}

.linkstyle2:hover {
  background-color: rgb(28, 56, 122);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  margin-top: 0%;
}

/* animation text */
.animate-charcter
{
   text-transform: capitalize;
  background-image: linear-gradient(
    -225deg,
    #efedf5 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
 
      font-size: 100px;
      margin-left: 6%;
      margin-top: 25px;
      border: solid 9px;
      border-style: outset;
      
      width: fit-content;
      position: absolute;
      
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* animation text */
.animate-charcter2
{
   text-transform: capitalize;
  background-image: linear-gradient(
    -225deg,
    #efedf5 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
 
      font-size: 100px;
      margin-left: 76%;
      border: solid 9px;
      border-style: outset;
      width: fit-content;
      position: absolute;
      flex-wrap: wrap;
  
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 567px) {
  .linkstyles {
      margin-left: 0%;
  }

  .main-header {
    height: 15em;
  }
}

@media screen and (max-width: 539px) {
  .linkstyles {
      margin-right: 27%;
  }

}

@media screen and (max-width: 1582px) {
  .animate-charcter {
      
      display: none;
  }

  .animate-charcter2 {
    
   display: none;
}
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 2em;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  align-items: top;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
