* {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.613);
  }



header {
    background-color: rgb(151, 104, 49);
    margin: 0px;
    padding: 1px;
    height: 7em;
    
    color: rgb(255, 255, 255);
}

header h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    letter-spacing: 10px;
    font-size: 50px;
    flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    header h1 {
         font-size: 40px;
    
    }
}

.planText {
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
}

.planText p {
    font-size: 20px;
    
}


.EventTitle {
  text-align: center;
  height: 1em;
  

}

.description {
    text-align: center;
    margin-top: 40px;
    

}

.datePicker {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    
}

.submitButton {
    text-align: center;
    margin-top: 20px;
    color: bisque;
}

button {
    background-color: rgb(202, 120, 32);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    border-width: 1px;
    width: 2cm;
    height: 27px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(201, 162, 20);
}

form {
    border: solid;
    padding: 1%;
    width: 25%;
    align-content: center;
    margin-left: 36%;
    background-color: rgb(202, 225, 217);
    flex-wrap: wrap;
    min-width: 320px;
    min-height: 320px;
        max-width: 400px;
        margin: 0 auto;
  }

    @media screen and (max-width: 1400px) {
        .formContainer{
            width: fit-content;
        }
    }


